header{
    background-color:rgb(240,240,240) ;
}
nav ul{
    list-style: none;
    color: goldenrod;
    font-size: 25px;
    background-color: #004aad;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;  
}
nav ul{
    text-decoration: none;
}
nav a {
    color: goldenrod;          
    text-decoration: none;

}

nav a:hover {
    color: white;         
}

body{
    background-color: rgb(240,240,240);
    font-family: Arial, sans-serif;
}
main{
    margin-bottom: 40px;
}

h1, h2, h3{
    font-family: Arial, sans-serif;
    color: #004aad;
}

h1{
    font-size: 50px;
}
h3{
    color: goldenrod;
}
p{
    font-family: Arial, sans-serif;
}

footer{
    color: goldenrod; 
    font-size: 25px;
    height: 60px;
    background-color: #004aad;
}

footer.footercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;  
}


footer ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;  
}
footer a {
    color: goldenrod;          
    text-decoration: none; 
}

footer a:hover {
    color: white;             
}


