header{
    background-color: #F2F7F9;
}

fieldset{
    width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: 6px solid goldenrod;
    border-radius: 15px;
}

.form-input{
    width: 100%;
}

input:focus,
textarea:focus {
    border: 1px solid pink;
    background-color: lightgoldenrodyellow;
}
input[type="submit"]{
    background-color: #004aad;
    color: white;
}
input[type="submit"]:hover{
    background-color: goldenrod;
}